!pipeline/test
pipeline/test/*
!pipeline/test/DLBC.metadata.txt
!pipeline/test/DLBC.pipeline.yaml
!pipeline/test/Build_RNAseq.DLBC.sh
!pipeline/test/Submit_RNAseq.DLBC.sh
example*
*myProject*
# *DLBC*
*.log*
*.html
*.chp
*.js
*.pdf
*.chp
*.ipynb_checkpoints
!notebook/input
notebook/output*
notebook/tmp*
!notebook/assets
