!pipeline/test
pipeline/test/*
!pipeline/test/DLBC.metadata.txt
!pipeline/test/DLBC.pipeline.yaml
!pipeline/test/Build_RNAseq.DLBC.sh
!pipeline/test/Submit_RNAseq.DLBC.sh
example*
*myProject*
# *DLBC*
*.log*
*.html
*.chp
*.js
*.pdf
*.chp
*.ipynb_checkpoints
!ipynb_data/input
ipynb_data/output*
ipynb_data/tmp*
!ipynb_data/assets
!ipynb_data/assets/multiqc_report.html
