!test
test/*
!test/DLBC.metadata.txt
!test/DLBC.pipeline.yaml
!test/Build_RNAseq.DLBC.sh
!test/Submit_RNAseq.DLBC.sh
example*
*myProject*
# *DLBC*
*.log*
*.html
*.chp
*.js
*.pdf
*.chp
*.ipynb_checkpoints
doc/input*
doc/output*
!/doc/assets
